@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.hero {
  background: rgb(223, 255, 215);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(37, 36, 36);
}

.hero-content {
  max-width: 600px;
}

.btn-primary {
  background-color: #ff6347;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #ff4500;
}
.product-highlights {
  padding: 50px 0;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-around;
}

.product {
  margin: 20px;
  text-align: center;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  color: #888;
}
